<h1><%= @restaurant.name %></h1>
<p>category: <%= @restaurant.category %></p>
<p>address: <%= @restaurant.address %></p>
<p>reviews:</p>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.rating %> stars | <%= review.content %></li>
  <% end %>
</ul>
<%= link_to "go back to the list of restaurants", restaurants_path %>
<%= link_to "add a review", new_restaurant_review_path(@restaurant) %>
